#apturl==0.5.2
asgiref==3.5.0
bcrypt==3.2.0
blinker==1.4


Django==3.2.12

future==0.18.2
gunicorn==21.2.0
httplib2==0.20.2



Pillow==9.0.1


pytz==2022.1
pyxdg==0.27
PyYAML==5.4.1
reportlab==3.6.8
requests==2.25.1

#sqlparse==0.4.2

